@model ContactUs;


<div>
    <h1>Contact Us</h1>

    <p>@Model.Email</p>
    <p>@Model.PhoneNumber</p>
    <a href="@Model.Facebook">FaceBook</a>
    <a href="@Model.Instagram">Instagram</a>
    <a href="@Model.Twitter">Twitter</a>
    <a href="@Model.YouTube">YouTupe</a>

</div>